/* CSS declarations go here */
body {
    font-family: 'Roboto-light', sans-serif;
    background-color: #FEFEFE;
}

.home {
    color: #1385DB;
    padding-top: 20px;
}

.content-card {
    width: 100%;
    height: 400px;
    background-color: #E1F0FE;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.new-card {
    background-color: #1385DB;
}

.card-title {
    color: #1385DB;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    font-size: 25pt;
}

.card-description {
    color: #3D83B8;
    font-size: 15pt;
    padding-top: 20px;
    text-align: center;
}

.read-more {
    text-align: center;
    color: #1385DB;
    padding-top: 15px;
}

.new-opinion {
    color: white;
    text-align: center;
    line-height: 400px;
    font-size: 16pt;
}

.new-post-box {
    border: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 400px;
}

.blue-banner {
    background-color: #348BD6;
    width: 100%;
    height: 500px;
    padding: 5% 0;
}

.break {
    height: 30px;
}

.post-title {
    color: white;
    text-align: left;
    font-size: 50pt;
    padding: 5% 0;
    padding-left: 40px;
}

.post-description {
    color: white;
    font-size: 15pt;
    padding: 5% 0;
    padding-top: 15%;
}

.comment-box {
    margin-top: 30px;
    width: 100%;
    height: auto;
    position: relative;
    color: #297FCA;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.username {
    font-size: 16pt;
    position: relative;
    font-weight: bold;
}

.time {
    font-weight: lighter;
    font-size: 12pt;
}

.comment {
    margin-top: 10px;
    color: #297FCA;
}