:root {
    --main-blue: #3772B4;
    --color-text: #444444;
}

body {
    /*font-family: 'Space Mono', monospace;*/
    font-family: sans-serif;
    background-color: #FEFEFE;
    color: var(--color-text);
}

textarea:focus, input:focus, textarea{
    /*outline: none;*/
    text-decoration: none;
    /*border:none;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    background-color: transparent;
    color: black;
    width: 80%;
    height: auto;
    color: white;
    padding-left: 10px;
    border-color: grey;
    border-width: 1px;
}

button {
    border-radius: 5px;
}
a {
  color: inherit !important; /* blue colors for links too */
  text-decoration: inherit !important; /* no underline */
}


.nav {
    width: 100%;
    height: 60px;
    background-color: var(--main-blue);
    color: white;
}

#username-input {
    position: absolute;
    right: 50px;
    margin-right: 45px;
    margin-top: 15px;
    float: right;
}

.username-button {
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
}

.logo {
    line-height: 60px;
    font-size: 30px;
    padding-left: 30px;
}

.tagline {
    color: white;
    line-height: 70px;
    font-size: 17px
    font-weight: lighter;
    padding-left: 40px;

}

.jenji {
    position: absolute;
    right: 0;
    float: right;
    line-height: 60px;
    font-size: 20px;
    padding-right: 40px;
    display: inline-block;
}

.change {
    font-weight: lighter;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 39px;
    cursor: pointer;
}

.opinion-background {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    background-color: #F0F0F0;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px grey;
}

.opinion-card {
    margin: 0 auto;
    height: auto;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.opinion-label {
    font-size: 20px;
    color: var(--color-text);
    display: inline-block;
    font-weight: bold;
}

.opinion-text {
    display: inline-block;
    color: var(--main-blue);
    padding-top: 5px;
    font-size: 25px;

}

.opinion-description {
    padding-top: 15px;
    font-size: 18px;
    font-weight: lighter;
}

.check-out {
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
}

.articles {
    width: 100%;
}

.article {
    margin: 30px 20px;
    width: 220px;
    height: auto;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: #979797;
    padding:30px 20px 30px 20px;
    text-align: center;
    display: inline-block;
}

.article:hover {
    background-color: #F2F2F2;
}

.article-title {
    font-size: 18px;
}

.article-source {
    font-weight: bold;
    padding-top: 30px;
}

.agreement-card {
    width: 100%;
    height: 100px;
    margin: 20px auto;
    border-color: transparent;
    cursor: pointer;
}

.agree-disagree {
    padding-bottom: 300px;
}

.agree {
    background-color: #96CAAB !important;
    float: right;
}

.disagree {
    background-color: #C6A1A0 !important;
    float: left;
}

.agree-disagree-text {
    font-size: 49px;
    font-weight: bold;
    color: #5F5F5F;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; /* same as div height */
}

.comment {
    /*width: 90%;*/
    width: 40vw;
    height: auto;
    padding:15px 15px 15px 15px;
    /*margin: 10px 10px 10px 10px;*/
    margin-top: 15px;
    display: inline-block;
    float: right;

}

.pro {
    border-color: #86D0AC !important;
}

.con {
    border-color: #C6A1A0 !important;
}

.username {
    font-weight: bold;
    font-size: 20px;
}

.reply {
    float: right;
    color: var(--color-text);
    font-weight: bold;
    cursor: pointer;
}

.reply-active {
    color: var(--main-blue) !important;
}

.score {
    font-size: 15px;
    right: 0;
}

.pro-score {
    color: #86D0AC;
}

.con-score {
    color: #C6A1A0;
}

.comment-text {
    font-size: 15px;
    padding-top: 10px;
}

.timestamp {
    color: #848484;
    font-size: 15px;
    padding-top: 10px;
}

.reply-background {
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    padding-bottom: 20px;
}

.reply-card {
    float: right;
    width: 60%;
}

.input-card {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
}

.blocked-card {
    width: 100%;
    height: auto;

    background-color: #E2E2E2 !important;
    height: 90%;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;

    text-align: center;
    font-size: 22px;

    display: table;
    overflow: hidden;
}

.blocked-text {
    display: table-cell;
    vertical-align: middle;
    line-height: 90%;
}

textarea {
    border: solid;
    border-width: 1px;
    border-color: #979797;
    height: 100px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    color: var(--color-text);
}

.reply-button {
    border-radius: 5px;
    background-color: var(--main-blue);
    color: white;
    margin-top: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.red-background {
    background-color: #f2dedf;
    padding-bottom: 20px;
}

.green-background {
    background-color: #d3eddd;
    padding-bottom: 20px;
}

.sub-reply {
    width: 60% !important;
    width: 100%;
    float: right;
}

.blur {
    filter: blur(5px);
}

.hidden-content {
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 1000px;
    z-index: 100;
}
